<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Homework Planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Screen 1: Login Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen 2: Task List Activity -->
        <activity
            android:name=".TasksActivity"
            android:exported="false" />

        <!-- Screen 3: Add Task Activity -->
        <activity
            android:name=".AddActivity"
            android:exported="false" />

        <!-- Screen 4: Task Details Activity -->
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />

    </application>

</manifest>